    body {
        margin: auto;
    }
    .header-img {
        text-align: center;
    }
    .nav-links {
        width: 100%;
        padding: 0;
    }
    li {
        padding: 2em;
        margin: 1em;
        background-color: grey;
        text-align: center;
        border: 2px solid white;
    }
    ul {
        list-style: none;
        text-align: center;
    }
    .main, .sub-section {
        text-align: left;
        padding: 3em 1.3em;
    }
    h1 {
        text-align: center;
        font-size: 84px;
    }
    footer {
        margin: 2em;
    }
    .alert-info {
        text-align: center;
        padding: 2em;
        margin: 2em;
        background-color: aqua;
        border: 6px solid grey;
    }
    .header-img>img {
        width: 100%;
    }

@media screen and (min-width: 768px) {
    html {
        position: relative;
    }
    body {
        background: white;
        position: relative;
    }
    li {
        display: inline-block;
        background-color: transparent;
        padding: 0em;
        border: 0px;
    }
    h1 {
        float: left;
        margin: 25px 0px;
    }
    .nav-links {
        float: right;
        width: 40%;
        margin: 2.5em 0em;
    }
    .hidden-on-desktop {
        display: none;
    }
    .main {
        width: 50%;
        position: relative;
        float: left;
    }
    .sub-section {
        width: 35%;
        float: right;
    }
    footer {
        clear: both;
    }
}



